<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script defer src="/fontawesome/fontawesome-all.js"></script>
    <title>Code Sponsor</title>
    <%= csrf_meta_tags %>
  </head>
  <%= content_tag :body, class: "app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden #{ body_class } #{ yield :extra_body_classes }",
                         data: {
                           environment: Rails.env,
                           flash: flash.to_json,
                           token: @token
                         } do %>
    <%= yield %>
  <% end %>
</html>
